<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-secondary text-light">

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-warning" href="/home">Мій сайт</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="/home">Головна</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white-50" href="/about/me">About me<span class="sr-only">(поточна)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/swagger">open API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="https://github.com/NightBird78/discordShopping">Git</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/cabinet">My cabinet</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Вміст сторінки -->
<div class="container mt-3">
    <h1>Немного обо мне</h1>

    <!-- Розділ "Про мене" -->
    <div class="row mt-4">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item bg-dark border-white">
                    <h4 class="mb-1 text-light">Я</h4>
                    <p class="mb-1 text-light">
                        Приветствую! Меня зовут <b>Богдан Панчук</b>.<br>
                        Программист с <b>пятилетним опытом программирования</b>.
                    </p>
                </li>
                <li class="list-group-item bg-dark border-white">
                    <h4 class="mb-1 text-light">Навыкы</h4>
                    <ul>
                        <li class="mb-0 text-light">Робота з базами данных:<br>
                            - знание SQL<br>
                            - умение использовать  Hibernate, JDBC, JPA<br>
                        </li>
                        <li class="mb-0 text-light">VCS:<br>
                            - умение использования Git<br>
                            - понимание работы с ветками, коммитами
                        </li>
                        <li class="mb-0 text-light">External API<br>
                            - работа с внешними API<br>
                            - интеграция банковского API в этот проект
                        </li>
                        <li class="mb-0 text-light">Debug и анализ<br>
                            - JaCoCo<br>
                            - LoggingAspect<br>
                            - отладка кода<br>
                            - быстрое исправление ошибок
                        </li>
                        <li class="mb-0 text-light">Обучение<br>
                            - адаптивность к новым технологиям
                        </li>
                    </ul>
                </li>
                <li class="list-group-item bg-dark border-white">
                    <h4 class="mb-1 text-light">Больше</h4>
                    <p class="mb-1 text-light">
                        Наверное, 5 лет в программировании может показаться много (наверное),
                        но первые 4 года я сидел на <b>Python</b>, изучая, что такое программирование,
                        как и где его можно использовать.<br>
                        Благодаря <b>Python</b> за его мощные библиотеки - можно поиграться.<br>
                        Однажды я так заигрался, что создал рабочий морской бой в <b>Discord</b>,
                        потому что самому с собой было бы скучновато.<br>
                        <br>
                        А последний, почти, год я учился в <b>TelRan</b> и изучал <b>Java</b>.
                        К удивлению, она оказалась не сложнее чем <b>Python</b>,<br>
                        Ну... или мне так показалось.
                    </p>
                </li>
                <li class="list-group-item bg-dark border-white">
                    <a href="/about/project" class="btn btn-primary btn-block">Перейти к вкладке проекта</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 mt-3">
            <img src="https://cdn.discordapp.com/attachments/1058362607779725342/1182082114401861693/avatar.jpeg?ex=658366c2&is=6570f1c2&hm=6b28592123eaae9c4c86ceda3aefe4757f83e2d9f16b786f2588b9cb3b1f9015&"
                 alt="avatar" class="img-fluid bg-secondary" style="border-radius: 10px;">
        </div>
    </div>

</div>

<footer class="bg-dark text-center mt-5 p-3 text-light">
    &copy; 2023 Мій сайт. Salvete omnes!
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
