<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Домашня сторінка</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-secondary text-light">

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-warning" href="/home">Мій сайт</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active text-white-50">
                <a class="nav-link text-white-50" href="/home">Головна <span class="sr-only">(поточна)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/about/me">About me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/swagger">open API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="https://github.com/NightBird78/BankService">Git</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/cabinet">My cabinet</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <h1>Ласкаво просимо на Мій сайт!</h1>
    <p>Це домашня сторінка з використанням Bootstrap.</p>
</div>

<footer class="bg-dark text-center mt-5 p-3 text-light">
    &copy; 2023 Мій сайт. Salve in novum mundum!
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
