<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мій домашній сайт</title>
</head>
<body>
    <header>
        <h1>Ласкаво просимо на мій домашній сайт</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Головна</a></li>
            <li><a href="/about">Про нас</a></li>
            <li><a href="#">Контакти</a></li>
            <li><a href="/swagger">open API</a></li>
            <li><a href="/secure">secured</a></li>
        </ul>
    </nav>

    <section>
        <h2>Вітаємо на головній сторінці!</h2>
        <p>Це лише початок. Тут може бути ваш контент.</p>
    </section>

    <footer>
        <p>&copy; 2023 Мій домашній сайт. Усі права захищені.</p>
    </footer>
</body>
</html>